@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
#faq
  background ColorBlue
  float right
  width 310px
  height 650px
  margin-left 18px
  h2
    font-size 18px
    font-weight bold
    color white
    margin 0px
    padding 10px 15px
  > ul
    margin 0px
    padding 0px
    position relative
    > li
      display block
      float left
      width 100%
      border-bottom 1px dashed darken(ColorBlue, 60%)
      font-size 14px
      &:last-child
        border-bottom #000
      > a
        display block
        width 100%
        padding 12px 15px
        color #f0
        text-decoration none
        position relative
        &:hover
          text-decoration underline
      .answer
        display none
        position absolute
        right 340px
        top 0px
        width 764px
        height 640px
        overflow auto
        border 1px solid ColorBlue
        background white
        float left
        padding 10px 10px
        animation fadeIn 0.2s 1 linear
        border-top-left-radius 3px
        border-bottom-left-radius 3px
        h1
          margin 5px 0px
          padding 0px
          font-size 19px
        h2
          color black
          margin 8px 0px
          padding 0px
          font-size 16px
        ul
          list-style-type square
          margin 8px 0px
        a
          text-decoration underline
          &:hover
            text-decoration none
      .filler
        display none
        position absolute
        top 0px
        left -30px
        width 30px
        height 640px
      &:hover
        .answer
        .filler
          display block
        > a:before
          z-index 2
          position absolute
          content ""
          top 50%
          transform translate(0, -50%)
          left -30px
          triangle(30px, 40px, "right", ColorBlue)
        > a:after
          z-index 2
          position absolute
          content ""
          top 50%
          transform translate(0, -50%)
          left -31px
          triangle(30px, 40px, "right", white)




