@import colors
@import prefixes
@import 'components/triangle'
@import fitter
#container
  @import basics
  @import faq


#container
  float left
  width 100%
  background white
  .col
    > h2
      padding-bottom 10px
      padding-left 15px
      margin-top 24px
      border-bottom 1px dotted ColorBlue
    &.audiomapa
      float left
      width 770px
    &.faq
      float right
      width 310px
      h2
        padding-left 4px
    &.articles
      float left
      width 100%
      max-width 770px
      margin-top 25px
      margin-bottom 40px
      .box
        padding 0px 30px
      h2
        padding-left 30px
  iframe
    float left
    border 0px

  @media screen and (max-width: 1120px)
    .col.audiomapa
      width 100%
      iframe
        width 100%
    .col.articles
      width calc(100% - 330px)
      padding-bottom 30px
    .col.faq
      margin-top 25px
  .loader-container
    @import Loader
  .loader-container
    width 100%
    height 100px
    margin-top 20px
    .loader
      left 50%
      transform translate(-50%, 0)

